* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.calculator {
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    border-top-left-radius: 100% 30px;
    border-top-right-radius: 100% 30px;
    border-bottom-left-radius: 100% 60px;
    border-bottom-right-radius: 100% 60px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .7),
                0 0 20px 0 rgba(0, 0, 0, 0.5),
                0 0 25px 0 rgba(0, 0, 0, 0.3),
                10px 0 4px 10px rgba(0, 0, 0, 0.3),
                inset 0 0 3px 0 rgba(0, 0, 0, 0.7),
                inset 0 0 10px 0 rgba(0, 0, 0, 0.5),
                inset 0 -25px 5px 0 rgba(0, 0, 0, 0.2),
                inset 0 -5px 10px 0 rgba(255, 255, 255, 0.3);
    user-select: none;
}

.calculator form input {
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
    background-image: linear-gradient(-155deg, #44443a 0%, #656f66 100%);
    box-shadow: 0 -4px 4px -3px rgba(255, 255, 255, 0.3),
                5px 0 3px -5px rgba(255, 255, 255, 0.8),
                0 5px 5px -3px rgba(0, 0, 0, 0.5),
                -3px 0 3px -1px rgba(0, 0, 0, 0.8),
                inset 0 -5px 3px -3px rgba(0, 0, 0, 0.5),
                inset 5px 0 5px -2px rgba(0, 0, 0, 0.8);
}

form .display input {
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal {
    width: 60px;
}


.history-box {
    display: none;
    background: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 400px;
    overflow-y: auto;
}

/* Light Theme */
body.light .container {
    background-image: linear-gradient(to top, #E7D4B5 0%, #B6C7AA 100%);
}

body.light .calculator {
    background: radial-gradient(ellipse farthest-corner at 20% 65%, #5e6470, #161213);
}

body.light .calculator form input.num{
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    background: linear-gradient(25deg, #525a65, #3b424c);
    color: rgba(255, 255, 255, 0.8);
    box-shadow: inset 2px -1px 1px 0 rgba(255, 255, 255, 0.2),
                inset -3px 2px 5px 0 rgba(0, 0, 0, 0.2),
                4px 1px 1px 0 rgba(0, 0, 0, 0.5),
                -1px -3px 1px 0 rgba(0, 0, 0, 0.5),
                4px -3px 1px 0 rgba(0, 0, 0, 0.5),
                -1px -1px 5px 0 rgba(0, 0, 0, 0.5);
}

body.light .history-box {
    background: #ffffff;
    color: #000;
}

/* Dark Theme */
body.dark .container {
    background-image: linear-gradient(to top, beige 0%, #252525 100%);
}

body.dark .calculator {
    background: radial-gradient(ellipse farthest-corner at 20% 65%, #5e6470, #161213);
}

body.dark .calculator form input.num{
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    background: linear-gradient(25deg, #525a65, #3b424c);
    color: rgba(255, 255, 255, 0.8);
    box-shadow: inset 2px -1px 1px 0 rgba(255, 255, 255, 0.2),
                inset -3px 2px 5px 0 rgba(0, 0, 0, 0.2),
                4px 1px 1px 0 rgba(0, 0, 0, 0.5),
                -1px -3px 1px 0 rgba(0, 0, 0, 0.5),
                4px -3px 1px 0 rgba(0, 0, 0, 0.5),
                -1px -1px 5px 0 rgba(0, 0, 0, 0.5);
}

body.dark form .display{
    background-image: linear-gradient(-155deg, #44443a 0%, #656f66 100%);
    box-shadow: 0 -4px 4px -3px rgba(255, 255, 255, 0.3),
                5px 0 3px -5px rgba(255, 255, 255, 0.8),
                0 5px 5px -3px rgba(0, 0, 0, 0.5),
                -3px 0 3px -1px rgba(0, 0, 0, 0.8),
                inset 0 -5px 3px -3px rgba(0, 0, 0, 0.5),
                inset 5px 0 5px -2px rgba(0, 0, 0, 0.8);
}

form input.operator {
    border-radius: 7px;
    border: none;
    outline: none;
    cursor: pointer;
    background: linear-gradient(25deg, #525a65, #3b424c);
    color: rgba(255, 255, 255, 0.8);
    box-shadow: inset 2px -1px 1px 0 rgba(255, 255, 255, 0.2),
                inset -3px 2px 5px 0 rgba(0, 0, 0, 0.2),
                4px 1px 1px 0 rgba(0, 0, 0, 0.5),
                -1px -3px 1px 0 rgba(0, 0, 0, 0.5),
                4px -3px 1px 0 rgba(0, 0, 0, 0.5),
                -1px -1px 5px 0 rgba(0, 0, 0, 0.5);
}

body.dark .history-box {
    background: #333;
    color: #fff;
}

.pressed{
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}
